<!DOCTYPE html>
<html>

<head>
	<title>codingDiva</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/styles.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
	<div class="wrapper">
		<!-- HEADER -->
		<header id="main-header">

		</header>
		<!-- LANDING SLIDER -->
		<section id="slider">
			<div class="panels">
				<div class="panel panel1">
					<p>Join</p>
					<p>Coding</p>
					<p>Divas</p>
				</div>
				<div class="panel panel2">
					<p>We're a</p>
					<p>Mentorship</p>
					<p>Group</p>
				</div>
				<div class="panel panel3">
					<p>We</p>
					<p>Support</p>
					<p>Each Other</p>
				</div>
				<div class="panel panel4">
					<p>Through</p>
					<p>Community</p>
					<p>and Hard Work</p>
				</div>
				<div class="panel panel5">
					<p>Let's</p>
					<p>Power</p>
					<p>Code!</p>
				</div>
			</div>
		</section>
		<section id="about-coding">
			<div class="about-container">
				<h1>codingDiva</h1>
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
					ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
					has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					</p>
			</div>
		</section>
		<!-- MAP -->
		<section class="chat-section">

			<div class="mentorship-div">
				<select>
					<option>All</option>
					<option>Mentees</option>
					<option>Mentors</option>
				</select>
				<p id='mentorship-posts'></p>
			</div>
			<div id="container">
				<div id="namesWrapper">
					<h2>DivaChat</h2>
					<p>Login:</p>
					<div id="error"></div>
					<form id="loginForm">
						<label for="username">Username:</label>
						<input type="text" size="35" id="username">
						<label for="password">Password: </label>
						<input type="password" id="password" />
						<input type="submit" value="Submit">
					</form>
				</div>

				<div id="mainWrapper">
					<h2>DivaChat</h2>
					<div id="chatWrapper">
						<div id="chatWindow"></div>
						<form id="messageForm">
							<input type="text" size="35" id="message" placeholder="Say Something...">
							<input type="submit" value="Submit">
						</form>
					</div>
					<div id="userWrapper">
						<div id="users"></div>
					</div>
				</div>
			</div>
		</section>
		<section id="map-section">
			<div id="map"></div>
		</section>
		<!-- CHAT -->
		<!--  <section id="chat">
	    	<div id="container">
				<div id="namesWrapper">
					<h2>ChatIO</h2>
					<p>Create Username:</p>
					<div id="error"></div>
					<form id="usernameForm">
						<input type="text" size="35" id="username">
						<input type="submit" value="Submit">
					</form>
				</div>

				<div id="mainWrapper">
					<h2>ChatIO</h2>
					<div id="chatWrapper">
						<div id="chatWindow"></div>
						<form id="messageForm">
							<input type="text" size="35" id="message" placeholder="Say Something...">
							<input type="submit" value="Submit">
						</form>
					</div>

					<div id="userWrapper">
						<div id="users"></div>
					</div>
				</div>
			</div>
	    </section> -->
		<!-- FOOTER -->
		<footer id="main-footer">
			<p>Copyright &copy; 2018 | codingDiva </p>
		</footer>
	</div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/dist/js/scripts.min.js"></script>
	<script>
		let ui = new UI();
		ui.renderMainNav();
		let user = new User();
		let mentorship = new Mentorship(user);
		mentorship.renderPosts('mentorship-posts');
		renderPostButton('mentorship-posts');
	</script>
</body>

</html>