<!DOCTYPE html>
<html>
<head>
	<title>codingDiva</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- HEADER -->
		<header id="main-header">
            <nav id="navbar">
            	<ul>
	            	<li><a href="#">Home</a></li>
	            	<li><a href="#">Mentorship</a></li>
	            	<li><a href="#">Job Board</a></li>
	            	<li><a href="#">Resources</a></li>
	            	<li><a href="/member/signup">Sign Up/Login</a></li>
	            	<li><a href="#">Profile</a></li>
            		<!-- <input type="search" placeholder="Search codingDIVA" id="searchBar"> -->
            	</ul>
            </nav>
        </header>
        <!-- LANDING -->
	   <!--  <section id="showcase">
            <div class="showcase-content">
                <span class="glitch1" data-text="coding">
                    codingDIVA
                </span>
                <p>a friendly place to code</p>
	        </div>
	    </section> -->
	    <!-- SLIDER -->
	    <section id="slider">
			<div class="panels">
				<div class="panel panel1">
					<p>Hey</p>
					<p>Let's</p>
					<p>Code</p>
				</div>
				<div class="panel panel2">
					<p>It's</p>
					<p>Very</p>
					<p>Hard</p>
				</div>
				<div class="panel panel3">
					<p>But</p>
					<p>You're</p>
					<p>Not Alone</p>
				</div>
				<div class="panel panel4">
					<p>We're</p>
					<p>Here</p>
					<p>To Help</p>
				</div>
				<div class="panel panel5">
					<p>Life</p>
					<p>In</p>
					<p>Motion</p>
				</div>
			</div>
	    </section>
	      <section id="about-coding">
	    	<div class="about-container">
	    		<h1>codingDiva</h1>
	    		<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
	    	</div>
	    </section>
	    <!-- MAP -->
	    <section class="chat-section">
			
	    	<div class="mentorship-div">
	    		<select>
					<option>All</option>	
					<option>Mentees</option>
					<option>Mentors</option>
				</select>
	    		<h1>Mentorship</h1>
	    		<i class="fas fa-user" id="mentor-icon"></i> Mentor
	    		<i class="fas fa-user" id="mentee-icon"></i> Mentee<br><br><br>
	    		<div><i class="fas fa-user" id="mentor-icon"></i><br>Username: Luna<br>Date: Feb 7<br>Location: San Francisco<br>Hello divas, I am an experinced web developer. I mainly work with front-end technologies but have some experince with node and mongo. I am mainly free in the evenings for an hour or so. I would like to help if you have any questions about anything tech related!<a href="#"> Request Mentorship</a></div><br>
	    		<div><i class="fas fa-user" id="mentee-icon"></i><br>Username: Kate<br>Date: Feb 7<br>Location: San Francisco<br>hello friends. I am having the hardest time with React js. I just started learning it and can't wrap my head around props and state. If anybody could walk me through that, that would be great! I am flexible with my schedule. Just let me know when it's convenient for you. Thanks so much!<a href="#"> Mentor</a></div><br>
	    		<div><i class="fas fa-user" id="mentee-icon"></i><br>Username: Jane<br>Date: Feb 7<br>Location: San Jose<br>Hey guys, I am working on a data scraping project and I am stuck on the mongo database. If anybody could look at my code tonight or tomorrow morning, that would be super helpful! Thanks in advance! <a href="#"> Mentor</a></div>
	    		<div><i class="fas fa-user" id="mentor-icon"></i><br>Username: Ann<br>Date: Feb 7<br>Location: Alameda<br>Hello people if you need any help getting ready for technical interviews, I am here to help. <a href="#"> Request Mentorship</a></div>      
	    		<div><i class="fas fa-user" id="mentee-icon"></i><br>Username: Mary<br>Date: Feb 7<br>Location: San Leandro<br>Hi! I am a student, I just learning HTML and CSS and I am so confused about all the technologies out there. I don't know what to start learning first. If anybody could advise, that would be great! Can't wait to hear from you!<a href="#"> Mentor</a></div><br>
	    		<button>Post</button>  		
	    	</div>
	    	<div id="container">
				<div id="namesWrapper">
					<h2>DivaChat</h2>	
					<p>Login:</p>
					<div id="error"></div>
					<form id="loginForm">
						<label for="username">Username:</label>
						<input type="text" size="35" id="username">
						<label for="password" >Password: </label><input type="password" id="password" />
						<input type="submit" value="Submit">
					</form>
				</div>

				<div id="mainWrapper">
					<h2>DivaChat</h2>
					<div id="chatWrapper">
						<div id="chatWindow"></div>
						<form id="messageForm">
							<input type="text" size="35" id="message" placeholder="Say Something...">
							<input type="submit" value="Submit">
						</form>
					</div>
					<div id="userWrapper">
						<div id="users"></div>
					</div>
				</div>	  		
			</div>
	    </section>
	    <section>
	    	<div id="map"></div>
	    </section>
	    <!-- CHAT -->
	   <!--  <section id="chat">
	    	<div id="container">
				<div id="namesWrapper">
					<h2>ChatIO</h2>
					<p>Create Username:</p>
					<div id="error"></div>
					<form id="usernameForm">
						<input type="text" size="35" id="username">
						<input type="submit" value="Submit">
					</form>
				</div>

				<div id="mainWrapper">
					<h2>ChatIO</h2>
					<div id="chatWrapper">
						<div id="chatWindow"></div>
						<form id="messageForm">
							<input type="text" size="35" id="message" placeholder="Say Something...">
							<input type="submit" value="Submit">
						</form>
					</div>

					<div id="userWrapper">
						<div id="users"></div>
					</div>
				</div>
			</div>
	    </section> -->
	    <section id="women-facts">
	    	<h1>Women and Information Technology: <br><span id="by-the-numbers">by the numbers</span></h1>	
	    	<div class="facts-container">
	    		<div class="fact-div">
	    			<p><span class="percent-span">26%</span> of professional computing occupations in the 2016 U.S. workforce held by women</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">20%</span> of Fortune 100 Chief Information Officer (CIO) positions held by women in 2016</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">1.1</span> million of U.S. computing-related job openings expected by 2024</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">18%</span> of 2015 Computer and Information Sciences bachelor’s degree recipients who were women</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">26%</span> of computing workforce who were women in 2016</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">3%</span> of computing workforce who were African-American women in 2016</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">5%</span> of computing workforce who were Asian women in 2016</p>	    						
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">2%</span> of computing workforce who were Hispanic women in 2016</p>	    				
	    		</div>
	    	</div>
	    </section>
	    <!-- FOOTER -->
	     <footer id="main-footer">
            <p>Copyright &copy; 2018 | codingDiva </p>
        </footer>
	</div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		// SLIDER
	    const panels = document.querySelectorAll('.panel');
	    function toggleOpen() {
	      console.log('Hello');
	      this.classList.toggle('open');
	    }
	    function toggleActive(e) {
	      console.log(e.propertyName);
	      if (e.propertyName.includes('flex')) {
	        this.classList.toggle('open-active');
	      }
	    }
	    panels.forEach(panel => panel.addEventListener('click', toggleOpen));
	    panels.forEach(panel => panel.addEventListener('transitionend', toggleActive));
  </script>
  <script>
  	// CHAT
    $(function(){
		var socket = io.connect();
		var $messageForm = $('#messageForm');
		var $message = $('#message');
		var $chat = $('#chatWindow');
		var $usernameForm = $('#usernameForm');
		var $loginForm = $("#loginForm");
		var $users = $('#users');
		var $username = $('#username');
		var $password = $('#password');
		var $error = $('#error');

		$usernameForm.submit(function(e){
			e.preventDefault();
			socket.emit('new user', $username.val(), function(data){
				if(data){
					$('#namesWrapper').hide();
					$('#mainWrapper').show();
				} else{
					$error.html('Username is taken');
				}
			});
		});

		$loginForm.submit(function(e){
			e.preventDefault();
			var user = {
				username: $username.val(),
				password: $password.val()
			}
			socket.emit('login', user, function(data){
				if(data){
					$('#namesWrapper').hide();
					$('#mainWrapper').show();
				} else {
					$error.html("Login incorrect");
				}
			});
		});

		socket.on('usernames', function(data){
			var html = '';
			for(i = 0;i < data.length;i++){
				html += data[i] + '<br>';
			}
			$users.html(html);
		});

		$messageForm.submit(function(e){
			e.preventDefault();
			socket.emit('send message', $message.val());
			$message.val('');
		});

		socket.on('new message', function(data){
			$chat.append('<strong>'+data.user+'</strong>: '+data.msg+'<br>');
		});
	});
  </script>

   <script>
    function initMap(){
      // Map options
      var options = {
        zoom:8,
        center:{lat:37.7749,lng:-122.4194}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        addMarker({coords:event.latLng});
      });

      
      // Add marker
      var marker = new google.maps.Marker({
        position:{lat:42.4668,lng:-70.9495},
        map:map,
        icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
      });

      var infoWindow = new google.maps.InfoWindow({
        content:'<h1>Lynn MA</h1>'
      });

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
      

      // Array of markers
      var markers = [
        {
          coords:{lat:42.4668,lng:-70.9495},
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Lynn MA</h1>'
        },
        {
          coords:{lat:42.8584,lng:-70.9300},
          content:'<h1>Amesbury MA</h1>'
        },
        {
          coords:{lat:42.7762,lng:-71.0773}
        }
      ];

      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwJB8Tpzt1xVwCrlPFxmCF_5KEYkCu250&callback=initMap">
    </script>
</body>
</html>