<!DOCTYPE html>
<html>
<head>
	<title>codingDiva: signup</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	
</head>
<body>
	<div class="wrapper">
		
        <section id="logout">
            You are being logged out, please wait...
        </section>
	    <!-- FOOTER -->
	     <footer id="main-footer">
            <p>Copyright &copy; 2018 | codingDiva </p>
        </footer>
	</div>

</body>
<script src="/assets/js/user.js"></script>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/userForm.js"></script>
<script>
    User.logout();
</script>
</html>