<!DOCTYPE html>
<html>
<head>
	<title>codingDiva</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- HEADER -->
		<header id="main-header">
            <nav id="navbar">
            	<ul>
	            	<li><a href="#">Home</a></li>
	            	<li><a href="#">Mentorship</a></li>
	            	<li><a href="#">Job Board</a></li>
	            	<li><a href="#">Resources</a></li>
	            	<li><a href="/member/signup">Sign Up/Login</a></li>
	            	<li><a href="#">Profile</a></li>
            	</ul>
            </nav>
        </header>
	    <section id="women-facts">
	    	<h1>Women and Information Technology: <br><span id="by-the-numbers">by the numbers</span></h1>	
	    	<div class="facts-container">
	    		<div class="fact-div">
	    			<p><span class="percent-span">26%</span> of professional computing occupations in the 2016 U.S. workforce held by women</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">20%</span> of Fortune 100 Chief Information Officer (CIO) positions held by women in 2016</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">1.1</span> million of U.S. computing-related job openings expected by 2024</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">18%</span> of 2015 Computer and Information Sciences bachelor’s degree recipients who were women</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">26%</span> of computing workforce who were women in 2016</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">3%</span> of computing workforce who were African-American women in 2016</p>	    			
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">5%</span> of computing workforce who were Asian women in 2016</p>	    						
	    		</div>
	    		<div class="fact-div">
	    			<p><span class="percent-span">2%</span> of computing workforce who were Hispanic women in 2016</p>	    				
	    		</div>
	    	</div>
	    </section>
	    <!-- FOOTER -->
	     <footer id="main-footer">
            <p>Copyright &copy; 2018 | codingDiva </p>
        </footer>
	</div>
</body>
</html>