<!DOCTYPE html>
<html>
<head>
	<title>codingDiva: signup</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- HEADER -->
		<header id="main-header">
            <nav id="navbar">
            	<ul>
	            	<li><a href="/">Home</a></li>
	            	<li><a href="#">Mentorship</a></li>
	            	<li><a href="#">Job Board</a></li>
	            	<li><a href="#">Resources</a></li>
	            	<li><a href="#signup.html">Sign Up/Login</a></li>
	            	<li><a href="#">Profile</a></li>
            	</ul>
            </nav>
        </header>
        <!-- SIGNUP -->
        <section id="forms">
            <div class="contact-items signup-div">
                <h2>Sign Up</h2>
                <span><input type="text" placeholder="Username ..." id="signup_username" /></span>
                <span><input type="text" placeholder="Email ..." id="signup_email" /></span>
                <span><input type="password" placeholder="Password ..." id="signup_pass" /> </span>
                <span><input type="password" placeholder="Confirm Password ..." id="signup_pass2" /></span>                                                                   
                <div class="form-button-div"><a href="#" id="signup">Sign Up!</a></div>
            </div>
            <div class="contact-items login-div">
                <h2>Login</h2>
                <span><input type="text" placeholder="Email..." id="login_email" /></span>
                <span><input type="password" placeholder="password ..." id="login_password" /></span>                                                                               
                <div class="form-button-div"><a href="#" id="login">Login!</a></div>
            </div>
        </section>
	    <!-- FOOTER -->
	     <footer id="main-footer">
            <p>Copyright &copy; 2018 | codingDiva </p>
        </footer>
	</div>

</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/dist/js/scripts.min.js"></script>
<script>
    let user = new User();
    let userForm = new UserForm(user);
    let ui = new UI();
    ui.renderMainNav();
</script>
</html>