<!DOCTYPE html>
<html>
<head>
	<title>codingDiva: signup</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- HEADER -->
		<header id="main-header">
            <nav id="navbar">
            	<ul>
	            	<li><a href="/">Home</a></li>
	            	<li><a href="#">Mentorship</a></li>
	            	<li><a href="#">Job Board</a></li>
	            	<li><a href="#">Resources</a></li>
	            	<li><a href="#signup.html">Sign Up/Login</a></li>
	            	<li><a href="#">Profile</a></li>
            		<!-- <input type="search" placeholder="Search codingDIVA" id="searchBar"> -->
            	</ul>
            </nav>
        </header>
        
	    <!-- FOOTER -->
	     <footer id="main-footer">
            <p>Copyright &copy; 2018 | codingDiva </p>
        </footer>
	</div>

</body>
</html>